body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
}

.input-group {
    margin-bottom: 15px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #337ab7;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #286090;
}

#switchRole {
    background: #337ab7;
    color: white;
    padding: 10px 15px;
    text-align: center;
    display: block;
    margin: 10px auto;
    border-radius: 5px;
    cursor: pointer;
}

#switchRole:hover {
    background: #286090;
}
